body {
  color: white;
  background-color: #222222;
  font-family: Arial, Helvetica, sans-serif
}

h1 {
  text-align: center;
  font-size: 144pt;
}

#register {
  text-align: center;
  font-size: 24pt;
}